[credform class='cred-form cred-keep-original']

	[cred_field field='form_messages' value='' class='alert alert-warning']

	<div class="form-group">
		<label>Nome Percorso</label>
		[cred_field field='post_title' post='percorso' value='' urlparam='' class='form-control' output='bootstrap']
	</div>

	<div class="form-group">
		<label>Descrizione Percorso</label>
		[cred_field field='post_content' post='percorso' value='' urlparam='' output='bootstrap']
	</div>






<script src="http://code.jquery.com/jquery-latest.min.js" ></script>
<label>Cerca nell'archivio:</label>
<input type='text' name='codice' id='codice'/><br />
<input type="button"  value="Ricarica" onClick="window.location.reload()">
<input type="button" onClick='ricerca()' name='Cerca' value="Cerca" > 
<br />
<div id="risultato"></div>
<script> 


function ricerca(){




var testo= $('#codice').val();
	console.log(testo);



  $(function(){ 
    
  $.ajax({
     url: 'https://api.mlab.com/api/1/databases/databaseintegrato/collections/db1?q={%22$text%22:{%22$search%22:%22'+testo+'%22}}&apiKey=L6qWg_ywFMmEoU3k-rnZpAlKwIvhA1E1',
     type: 'get',
     dataType: 'json',
     jsonp: 'json'                                                                                   
            })
            .done(function(data) {
			
			
			
			
			
			
			d=JSON.stringify(data);
			$.each(data, function(a,lista){
		    
			$("#risultato").append("<hr></hr>");
			$("#risultato").append("<br></br>Identificativo:"+lista.id);
			$("#risultato").append("<br></br>Piattaforma:"+lista.platform);
			$("#risultato").append("<br></br>"+lista.index);
		    $("#risultato").append("<br></br><img src="+lista.foto+"></img>");
			$("[name='wpcf-fotopercorso']").val('<img src="+lista.foto+"></img>');			
			});
			
					
			
			
				
		
			});
			
			
});
}; 



function remove(){
$(document).ready(function(){
$("button").click(function(){
$("#risultato").empty();
});
});
};



</script>
  
 






<div class="form-group">
		<label>fotopercorso</label>
		[cred_field field='fotopercorso' post='percorso' value='' urlparam='' output='bootstrap']
	</div>






	[cred_field field='form_submit' value='Invia' urlparam='' class='btn btn-primary btn-lg' output='bootstrap']

[/credform]
