<div class="panel panel-default">
<div id="headingsolr" class="panel-heading">
<h4 class="panel-title"><a class="collapsed" href="#collapsesolr" data-toggle="collapse" data-parent="#accordion">
<img class="alignnone size-full wp-image-667" src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/phaidra-logo-small.png" alt="" width="69" height="20" /> Cerca nella collezione "Tavole parietali"
</a></h4>
<div id="collapsesolr" class="panel-collapse collapse">
<div class="panel-body">
<script src="http://code.jquery.com/jquery.min.js"></script>
<button  onClick='ricercaincollezione(); return false;' class="button"></button>
<input id="ricercaoggettoff" class="ricercaoggettoff" name="ricercaoggettoff" type="text" />
<button  onClick='remove2(); return false;' class="button">Ricarica</button>
<select id="pagineff">
<option value="10">10</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="200">200</option>
<option value="500">500</option>
<option value="600">600</option>
</select>
<script>
function ricercaincollezione() {
var oggettoff= $('#ricercaoggettoff').val();	
var pagineff= $('#pagineff').val();	
$(document).ready(function(){
var url = "https://imageserver.cab.unipd.it:8983/solr/phaidradev/select?&fq=ispartof:%22o:62504%22&q="+oggettoff+"&rows="+pagineff+"&wt=json";
$.getJSON(url, function(dataff){
console.log(dataff.response.docs);
$.each(dataff.response.docs, function(aff,campoff){
console.log(campoff.dc_title);
console.log(campoff.dc_description);
$("#provaff").append(campoff.dc_title+"<br></br>");
$("#provaff").append(campoff.dc_description+"<br></br>");
$("#provaff").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+campoff.pid+'/methods/bdef:Asset/getThumbnail"></img><br></br>'); 
});
});
});	  	  
}
function remove2(){
$(document).ready(function(){
$("button").click(function(){
$("#provaff").empty();
});
});
};
</script>
<div id="provaff"></div>
</div>
</div>
</div>