<h2>Approfondimenti:</h2>
Il museo utilizza i servizi offerti da PHAIDRA (Permanent Hosting, Archiving and Indexing of Digital Resources and Assets, piattaforma del Sistema Bibliotecario di Ateneo)scoprili in questa sezione
<div id="accordion" class="panel-group">
<div class="panel panel-default">
<div id="headingOne" class="panel-heading">
<h4 class="panel-title"><a href="#collapseOne" data-toggle="collapse" data-parent="#accordion"><img class="alignnone size-full wp-image-667" src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/phaidra-logo-small.png" alt="" width="69" height="20" /> Esplora la collezione "L'osservatorio astrofisico di Asiago"</a></h4>
<div id="collapseOne" class="panel-collapse collapse">
Guida 
- L'icona <img class="alignnone size-full wp-image-667" src="http://muvere.flywheelsites.com/wp-content/uploads/2017/08/collezione.png" alt="" width="20" height="20" /> indica che gli oggetti appartengono ad una collezione di phaidra
- Con la dicitura "Tipo di oggetto" viene indicato di che tipo di oggetto digitale si tratta.
- Sopra la descrizione troverai un identificativo numerico:mediante esso PHAIDRA identifica gli oggetti digitali depositati (foto, testi, collezioni).
<script src="http://code.jquery.com/jquery.min.js"></script>
<script>
var urlxx = "https://phaidra.cab.unipd.it/api/collection/o:74181/members";
$.getJSON(urlxx, function(risposta){
console.log(risposta.index);			
$.each(risposta.metadata.members, function(a,campo){
console.log(campo.pid);			 
$("#prova").append(campo.pid+"<br></br>");
$("#prova").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+campo.pid+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+campo.pid+'/methods/bdef:Asset/getThumbnail"></a><br></br>');
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+campo.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datapiatta) {
console.log(datapiatta.index);
$("#prova").append(datapiatta.index.dc_title+"<br></br>");
$("#prova").append(datapiatta.index.dc_description+"<br></br>");
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+campo.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (data) {
$.each(data.metadata.members, function(b, datab){
console.log(datab.pid);
$("#provaxx").append(datab.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datab.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datacc) {
console.log(datacc.index);
$("#prova").append(datacc.index.dc_title+"<br></br>");
$("#prova").append("Descrizione:"+datacc.index.dc_description+"<br></br>");
$("#prova").append("Collezione:"+datacc.index.ispartof+"<br></br>");
$("#prova").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+campo.PID+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+datacc.index.pid+'/methods/bdef:Asset/getThumbnail"></a><br></br>'); 
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datab.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datac) {
$.each(datac.metadata.members, function(d, datad){
console.log(datad.pid);
$("#prova").append(datad.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datad.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (dataccc) {
console.log(dataccc.index);
$("#prova").append(dataccc.index.dc_title+"<br></br>");
$("#prova").append("Collezione:"+dataccc.index.ispartof+"<br></br>");
$("#prova").append("Descrizione:"+dataccc.index.dc_description+"<br></br>");
$("#prova").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+dataccc.index.pid+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+datacc.index.pid+'/methods/bdef:Asset/getThumbnail"></a><br></br>');
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datad.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datae) {
$.each(datae.metadata.members, function(e, datae){
console.log(datae.pid);
$("#prova").append(datae.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datae.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datacccc) {
console.log(datacccc.index);
$("#prova").append(datacccc.index.dc_title+"<br></br>");
$("#prova").append(datacccc.index.dc_title+"<br></br>");
$("#prova").append("Descrizione:"+datacccc.index.dc_description+"<br></br>");
$("#prova").append("Collezione"+datacccc.index.ispartof+"<br></br>");
}
});
});
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datae.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (dataf) {
$.each(dataf.metadata.members, function(f, dataf){
console.log(dataf.pid);
$("#prova").append(dataf.pid);
});
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datag.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datag) {
$.each(datag.metadata.members, function(h, datah){
console.log(datah.pid);
$("#prova").append(datah.pid);
});
}
});
});
}
});
});
}
});			
});
});
</script>
<div  id="prova"></div>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="headingTwo" class="panel-heading">
<h4 class="panel-title"><a class="collapsed" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
<img class="alignnone size-full wp-image-667" src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/phaidra-logo-small.png" alt="" width="69" height="20" /> Cerca nel museo.
</a></h4>
<div id="collapseTwo" class="panel-collapse collapse">
<div class="panel-body">
Guida 
- L'icona <img class="alignnone size-full wp-image-667" src="http://muvere.flywheelsites.com/wp-content/uploads/2017/08/collezione.png" alt="" width="20" height="20" /> indica che gli oggetti appartengono ad una collezione di phaidra
- Con la dicitura "Tipo di oggetto" viene indicato di che tipo di oggetto digitale si tratta.
- Sopra la descrizione troverai un identificativo numerico:mediante esso PHAIDRA identifica gli oggetti digitali depositati (foto, testi, collezioni).
<script src="http://code.jquery.com/jquery.min.js"></script>
<input type='text' class="ricercaoggetto" name='ricercaoggetto' id='ricercaoggetto'/>
<select id="limite">
<option value="10">10 oggetti</option>
<option value="50">50 oggetti</option>
<option value="100">100 oggetti</option>
<option value="200">200 oggetti</option>
<option value="500">500 oggetti</option>
<option value="600">600 oggetti</option>
</select>
<button  onClick='cercaoggetto(); return false;' class="button">Fai una ricerca</button>
<button  onClick='remove(); return false;' class="button">Ricarica</button>	
<script>
function cercaoggetto() {
var oggetto= $('#ricercaoggetto').val();	
var limite= $('#limite').val();
$(document).ready(function(){
var urlxx = "https://phaidra.cab.unipd.it/api/search/owner/mfisica?q="+oggetto+"&limit="+limite+"&fields=uw.general.description&fields=PID&fields=fgs.contentModel&fields=uw.general.title";
$.getJSON(urlxx, function(risposta){
console.log(risposta.objects);			
$.each(risposta.objects, function(a,campo){
console.log(campo.PID);	
$("#provaxx").append(campo.PID+"<br></br>");
$("#provaxx").append(campo['uw.general.title']+"<br></br>");
$("#provaxx").append(campo['uw.general.description']+"<br></br>");
$("#provaxx").append("Tipo di oggetto:"+campo['fgs.contentModel']+"<br></br>");
$("#provaxx").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+campo.PID+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+campo.PID+'/methods/bdef:Asset/getThumbnail"></a><br></br>');
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+campo.PID+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (data) {
$.each(data.metadata.members, function(b, datab){
console.log(datab.pid);
$("#provaxx").append(datab.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datab.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datacc) {
console.log(datacc.index);
$("#provaxx").append(datacc.index.dc_title+"<br></br>");
$("#provaxx").append("Collezione:"+datacc.index.ispartof+"<br></br>");
$("#provaxx").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+datacc.index.pid+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+datacc.index.pid+'/methods/bdef:Asset/getThumbnail"></a><br></br>');
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datab.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datac) {
$.each(datac.metadata.members, function(d, datad){
console.log(datad.pid);
$("#provaxx").append(datad.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datad.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (dataccc) {
console.log(dataccc.index);
$("#provaxx").append(dataccc.index.dc_title+"<br></br>");
$("#provaxx").append("Collezione:"+dataccc.index.ispartof+"<br></br>");
$("#provaxx").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+dataccc.index.pid+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+dataccc.index.pid+'/methods/bdef:Asset/getThumbnail"></a><br></br>');
}
}); 
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datad.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datae) {
$.each(datae.metadata.members, function(e, datae){
console.log(datae.pid);
$("#provaxx").append(datae.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datae.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datacccc) {
console.log(datacccc.index);
$("#provaxx").append(datacccc.index.dc_title+"<br></br>");
$("#provaxx").append(datacccc.index.dc_title+"<br></br>");
$("#provaxx").append("Collezione"+datacccc.index.ispartof+"<br></br>");
}
});
});
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datae.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (dataf) {
$.each(dataf.metadata.members, function(f, dataf){
console.log(dataf.pid);
$("#provaxx").append(dataf.pid);
});
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datag.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datag) {
$.each(datag.metadata.members, function(h, datah){
console.log(datah.pid);
$("#provaxx").append(datah.pid);
});
}
});
});
}
});
});
}
});		
});
});
});
}
function remove(){
$(document).ready(function(){
$("button").click(function(){
$("#provaxx").empty();
});
});
};
</script>
<div id="provaxx"></div>
</div>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="headingmotor" class="panel-heading">
<h4 class="panel-title"><a class="collapsed" href="#collapsemotor" data-toggle="collapse" data-parent="#accordion">
<img class="alignnone size-full wp-image-667" src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/phaidra-logo-small.png" alt="" width="69" height="20" /> Cerca in phaidra
</a></h4>
<div id="collapsemotor" class="panel-collapse collapse">
<div class="panel-body">
<script src="http://code.jquery.com/jquery.min.js"></script>
<input type='text' class="ricercaoggettos" name='ricercaoggettos' id='ricercaoggettos'/>
<select id="limites">
<option value="10">10</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="200">200</option>
<option value="500">500</option>
<option value="600">600</option>
</select>
<button  onClick='removes(); return false;' class="button">Ricarica</button>
<button  onClick='cercaoggettos(); return false;' class="button">Fai una ricerca</button>	
<script>
function cercaoggettos() {
var oggettos= $('#ricercaoggettos').val();	
var limites= $('#limites').val();
$(document).ready(function(){
var urlxxs = "https://phaidra.cab.unipd.it/api/search/?q="+oggettos+"&limit="+limites+"&fields=uw.general.description&fields=PID&fields=fgs.contentModel&fields=uw.general.title";
$.getJSON(urlxxs, function(rispostas){
console.log(rispostas.objects);			
$.each(rispostas.objects, function(a,campo){
console.log(campo.PID);			 
$("#provas").append(campo.PID+"<br></br>");
$("#provas").append(campo['uw.general.title']+"<br></br>");
$("#provas").append(campo['uw.general.description']+"<br></br>");
$("#provas").append("Tipo di oggetto:"+campo['fgs.contentModel']+"<br></br>");
$("#provas").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+campo.PID+'/methods/bdef:Asset/getThumbnail"></img><br></br>');		
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+campo.PID+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datas) {
$.each(datas.metadata.members, function(bs, databs){
console.log(databs.pid);
$("#provas").append(databs.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+databs.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (dataccs) {
console.log(dataccs.index);
$("#provas").append("Titolo:"+dataccs.index.dc_title+"<br></br>");
$("#provas").append("Titolo:"+dataccs.index.dc_description+"<br></br>");
$("#provas").append("Collezione di appartenenza:"+dataccs.index.ispartof+"<br></br>");
$("#provas").append("Ente di appartenenza:"+dataccs.index.owner+"<br></br>");
$("#provas").append("Periodo storico:"+dataccs.index.dc_coverage+"<br></br>");
$("#provas").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+dataccs.index.pid+'/methods/bdef:Asset/getThumbnail"></img>');
$("#provas").append("<br></br>");
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+databs.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datacs) {
$.each(datacs.metadata.members, function(ds, datads){
console.log(datads.pid);
$("#provas").append(datads.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datads.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datacccs) {
console.log(datacccs.index);
$("#provas").append("Titolo:"+datacccs.index.dc_title+"<br></br>");
$("#provas").append("Titolo:"+datacccs.index.dc_description+"<br></br>");
$("#provas").append("Collezione di appartenenza:"+datacccs.index.ispartof+"<br></br>");
$("#provas").append("Ente di appartenenza:"+datacccs.index.owner+"<br></br>");
$("#provas").append("Periodo storico:"+datacccs.index.dc_coverage+"<br></br>");
$("#provas").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+datacccs.index.pid+'/methods/bdef:Asset/getThumbnail"></img>');
$("#provas").append("<br></br>");
}
});         
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datads.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (dataes) {
$.each(dataes.metadata.members, function(es, dataes){
console.log(dataes.pid);
$("#provas").append(dataes.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+dataes.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (dataccccs) {
console.log(dataccccs.index);
$("#provas").append("Titolo:"+datacccs.index.dc_title+"<br></br>");
$("#provas").append("Titolo:"+datacccs.index.dc_description+"<br></br>");
$("#provas").append("Collezione di appartenenza:"+datacccs.index.ispartof+"<br></br>");
$("#provas").append("Ente di appartenenza:"+datacccs.index.owner+"<br></br>");
$("#provas").append("Periodo storico:"+datacccs.index.dc_coverage+"<br></br>");
$("#provas").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+datacccs.index.pid+'/methods/bdef:Asset/getThumbnail"></img>');
$("#provas").append("<br></br>");
}
});
});
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+dataes.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datafs) {
$.each(datafs.metadata.members, function(fs, datafs){
console.log(datafs.pid);
$("#provas").append(datafs.pid);
});
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datags.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datags) {
$.each(datags.metadata.members, function(hs, datahs){
console.log(datahs.pid);
$("#provas").append(datahs.pid);
});
}
});
});
}
});
});
}
});		
});
});
});
}
function removes(){
$(document).ready(function(){
$("button").click(function(){
$("#provas").empty();
});
});
};
</script>
<div  id="provas"></div>
</div>
</div>
</div>
</div>
</div>