<script src="http://code.jquery.com/jquery-latest.min.js" ></script>
<input type='text' name='codice' id='codice'/><br />
<input type="button"  value="Ricarica" onClick="window.location.reload()">
<button  onClick='ricerca()' name='Cerca' value="Cerca" > 
</a> </button><br />
<script> 


function ricerca(){

var testo= $('#codice').val();
	console.log(testo);





     $(function(){ 
    
	
            $.ajax({
                url: 'https://api.mlab.com/api/1/databases/databaseintegrato/collections/db1?q={%22$text%22:{%22$search%22:%22'+testo+'%22}}&apiKey=L6qWg_ywFMmEoU3k-rnZpAlKwIvhA1E1',
                type: 'get',
                dataType: 'json',
                jsonp: 'json'                                                                                   
            })
            .done(function(data) {
			
			
			
			
			
			
			d=JSON.stringify(data);
			$.each(data, function(a,lista){
		    
			$("#risultato").append("<hr></hr>");
			$("#risultato").append("<br></br>Identificativo:"+lista.id);
			$("#risultato").append("<br></br>Piattaforma:"+lista.platform);
			$("#risultato").append("<br></br>"+lista.index);
			
	       	$("#risultato").append("<br></br><img src="+lista.foto+"></img>");
			
			
			
			
			});
			
					
			
			
				
		
			});
			
			
});
}; 


function mostra2() {
	var testo2= $('#codice2').val();
	
	$(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/search/?q="+testo2+"";
	  $.getJSON(url, function(response){
		console.log(response.objects);
		
	
		$.each(response.objects, function(a,campo){
		 console.log(campo);
		 var myId = campo.PID.substring(2);
		  
		  
		  
		  		  
		  
		 var myPid=campo.PID;
		 $.getJSON("https://phaidra.cab.unipd.it/api/object/"+myPid+"/index", function(res2){
			
			
			
			
			//$.each(res2, function(a,field){
			var field = res2.index;
			
			console.log(field);
		$("#prova").append("<strong>"+field.dc_title[0]+"</strong>"+"<div></div>"+field.dc_description[0]);
		$("#prova").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/o:'+myId+'/methods/bdef:Asset/getThumbnail"></img></div><div id='+myId+' ></div><hr>');	
              

			  //});
			 
			  
			
		
	  });
	  
	  
	  
	  
	  
	});
});


})






}








  </script>
  
  
  <div id="risultato"></div>